# F_Test 폴더 내부의 Library, Temp 제외
/F_Test/[Ll]ibrary/
/F_Test/[Tt]emp/
/F_Test/[Oo]bj/

# Test_1 폴더 내부의 Library, Temp 제외
/Test_1/[Ll]ibrary/
/Test_1/[Tt]emp/
/Test_1/[Oo]bj/

# 기타 파일들
*.csproj
*.unityproj
*.sln
.vs/
.DS_Store
*.log